.div--main-picture {
        width:80%;
        background-image: url("../assets/site/mapblue.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: fixed;
        background-position: 0 0;
        height:100%;
        display:inline-block;
        position:absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        overflow: auto;
    }
.div--main-search {
        width:20%;
        background-color:#afafaf;
        height:100%;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;}

.div--portrait {
            width: 11%;
            display: inline-block;
            font-family: 'Cinzel Decorative', cursive;
            text-align: center;
            font-size: 90%;
            font-weight: bolder;
            padding: 1px;
            margin: 25px auto;
          }